.animated { 
    -webkit-animation-duration: 1.8s; 
    animation-duration: 1.8s; 
    -webkit-animation-timing-function: steps(1); 
    animation-timing-function: steps(1); 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
}

@-webkit-keyframes pulse { 
    0% { background-position: -52px 0 } 
    50% { background-position: -26px 0 } 
    100% { background-position: -52px 0 } 
} 
@keyframes pulse { 
    0% { background-position: -52px 0 } 
    50% { background-position: -26px 0 } 
    100% { background-position: -52px 0 } 
} 
.pulse { 
    -webkit-animation-name: pulse; 
    animation-name: pulse; 
}

.leaflet-control-geolocate a {
  background:#fff url(geolocate.png) no-repeat 0 0;
}

.leaflet-control-geolocate a:hover {
  background-position: -26px 0;
}

.leaflet-touch .leaflet-control-geolocate a {
  background-position: 2px 2px;
}